!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Express Lane: a node.js sample app (Client Version)')
    meta(name='author', content='Troy Goode [troygoode@gmail.com] & Seth Carney [scarney81@gmail.com]')
    block styles
      link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
      style
        body{ padding-top: 60px; } /* 60px to make the container go all the way to the bottom of the topbar */
      link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
  body

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Express Lane
          .nav-collapse
            ul.nav
              li.active: a(href='#') Home
              li: a(href='#about') About
              li: a(href='#contact') Contact

    block content

    block scripts
      script(src='/js/jquery-1.7.2.min.js')
      script(src='/bootstrap/js/bootstrap.min.js')
