body{
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  cursor: default;
}

ul#products{
  list-style-type: none;
  margin: 0;
}
ul#products li{
  position: relative;
  padding: .5em;
  margin: .5em;
  border: 1px solid #ccc;
  border-radius: 10px;
  min-height: 130px;
  background-image: -webkit-linear-gradient(top, #333, #222);
  background-image: linear-gradient(top, #333, #222);
  color: #fff;
}
ul#products dd{
  margin-left: 100px;
}
ul#products .image{
  position: absolute;
  top: 20px;
  left: 22px;
  margin-left: 0;
}
ul#products .image img{
  width: 60px;
  border: 4px solid #fff;
}
ul#products .description{
  margin-top: 8px;
  margin-right: 1em;
  padding-top: 8px;
  border-top: 1px solid #666;
}

dl#product{
  position: relative;
  min-height: 220px;
}
dl#product dt, dl#product dd{
  margin-left: 180px;
}
dl#product .image{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0;
}
dl#product .image img{
  width: 150px;
  border: 8px solid #333;
}
dl#product dd{
  margin-bottom: 1em;
}

div#stats {
  margin-top: 2em;
}
table#cart {
  margin-top: 1em;
}
table#orders {
  margin-top: 11em;
}
table#cart thead, table#orders thead{
  background-color: #666;
  color: #fff;
}
table#cart th, table#orders, th{
  padding: .5em 1em;
  text-align: left;
}
table#cart td, table#orders td{
  padding: .5em 1em;
}
table#cart, table#orders td.actions {
  text-align: right;
}
table#cart td:first-child{
  padding: .5em 1em;
  text-align: left;
}
table#cart form, table#orders form{
  margin: 0;
  padding: 0;
}
table#cart tfoot{
  border-top: 1px solid #666;
  font-weight: bold;
}

.btn{
  margin-right: 5px;
}
.btn:last-child{
  margin-right: 0px;
}

.buttons form{
  display: inline-block;
}
