body{
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
  cursor: default;
}

div#stats {
  margin-top: 2em;
}
table#cart {
  margin-top: 1em;
}
table#orders {
  margin-top: 11em;
}
table#cart thead, table#orders thead{
  background-color: #666;
  color: #fff;
}
table#cart th, table#orders, th{
  padding: .5em 1em;
  text-align: left;
}
table#cart td, table#orders td{
  padding: .5em 1em;
}
table#cart, table#orders td.actions {
  text-align: right;
}
table#cart td:first-child, table#card td:first-child;{
  padding: .5em 1em;
  text-align: left;
}
table#cart form, table#orders form{
  margin: 0;
  padding: 0;
}
table#cart tfoot{
  border-top: 1px solid #666;
}

.btn{
  margin-right: 5px;
}
.btn:last-child{
  margin-right: 0px;
}

.buttons form{
  display: inline-block;
}
